/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
    ]

    withName: 'ASSEMBLYSCAN' {
        ext.args = "--json"
    }

    withName: TARGETGENOME_CUTN {
        ext.args = { "-n 10 -p 100000" }
    }

    withName: CUTN_QUERY {
        ext.args = { "-n 10 -p 100000" }
    }

    withName: 'ALIGNMENT_LASTDB' {
        // See https://gitlab.com/mcfrith/last/-/blob/main/doc/lastdb.rst for details
        // -R01: uppercase all sequences and then lowercase simple repeats with tantan
        // -R10: keep original lowercase masking
        // -c: soft-mask lowercase letters
        // -U: Maximum length of the repeating unit, for tandem repeats found by tantan.
        // -S2: index both strands, -S1: index the forward strand only.
        ext.args = { "${params.softmask=="tantan" ? '-R01' : '-R11'} -c -U400 -u${params.seed} ${params.strand=="both" ? '-S2' : '-S1'}" }
        publishDir = [
            enabled: false
        ]
    }

    withName: 'ALIGNMENT_SPLIT_O2M' {
        ext.prefix = { "${meta.id}.o2m" }
        ext.args = { "--reverse -m${params.last_split_mismap}" }
    }

    withName: 'ALIGNMENT_SPLIT_M2O' {
        ext.prefix = { "${meta.id}.m2o" }
        ext.args = { "-m${params.last_split_mismap}" }
    }
    withName: 'ALIGNMENT_SPLIT_O2O' {
        ext.prefix = { "${meta.id}.o2o" }
        ext.args = { "--reverse -m${params.last_split_mismap}" }
    }

    withName: 'ALIGNMENT_TRAIN' {
        // If the training step fails, it is likely that there are no
        // alignments to be found with the selected seed. Ignore and therefore
        // skip alignments instead of crashing the pipeline.
        errorStrategy = { task.exitStatus in (130..145) ? 'retry' : task.exitStatus == 1 ? 'ignore' : 'finish' }
        ext.args = { "-Qfastx --revsym --gapsym --matsym ${params.lastal_args}" }
    }

    withName: 'ALIGNMENT_LASTAL_M2O' {
        ext.prefix = { "${meta.id}.m2o" }
        ext.args = { "--split-f=MAF+ ${params.lastal_args} ${params.lastal_extr_args}" }
        publishDir = [
            enabled: false
        ]
    }

    withName: 'ALIGNMENT_LASTAL_M2M' {
        ext.prefix = { "${meta.id}.m2m" }
        ext.args = { "${params.lastal_args} ${params.lastal_extr_args}" }
    }

    withName: 'LAST_DOTPLOT' {
        // The number one cause of failure is absence of alignments.
        errorStrategy = { task.exitStatus in (130..145) ? 'retry' : task.exitStatus == 1 ? 'ignore' : 'finish' }
        ext.args = { "--rot1=v --rot2=h --sort2=3 --strands2=1 --width=${params.dotplot_width} --height=${params.dotplot_height} --fontsize=${params.dotplot_font_size} ${params.dotplot_options}" }
    }

    withName: 'ALIGNMENT_DOTPLOT_O2O' {
        ext.prefix = { "${meta.id}.o2o" }
    }

    withName: 'ALIGNMENT_DOTPLOT_M2O' {
        ext.prefix = { "${meta.id}.m2o" }
    }

    withName: 'ALIGNMENT_DOTPLOT_O2M' {
        ext.prefix = { "${meta.id}.o2m" }
    }

    withName: 'ALIGNMENT_DOTPLOT_M2M' {
        ext.prefix = { "${meta.id}.m2m" }
    }

    withName: 'ALIGNMENT_DOTPLOT_O2O_FLT' {
        ext.prefix = { "${meta.id}.o2o_filtered" }
    }
    withName: 'ALIGNMENT_DOTPLOT_M2O_FLT' {
        ext.prefix = { "${meta.id}.m2o_filtered" }
    }
    withName: 'ALIGNMENT_DOTPLOT_O2M_FLT' {
        ext.prefix = { "${meta.id}.o2m_filtered" }
    }
    withName: 'ALIGNMENT_DOTPLOT_M2M_FLT' {
        ext.prefix = { "${meta.id}.m2m_filtered" }
    }

    withName: ALIGNMENT_EXP {
        ext.args2 = { "--write-index" }
        ext.args3 = { "-B" }
        ext.args4 = { "--ploidy 1 -m --write-index" }
    }

    withName: ALIGNMENT_CRAM {
        publishDir = [
            enabled: false
        ]
        ext.args2 = { "--write-index" }
    }

    withName: ALIGNMENT_MERGE {
        ext.args = { "-O cram --write-index" }
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: 'MULTIQC_ASSEMBLYSCAN_PLOT_DATA' {
        publishDir = [
            path: { "${params.outdir}/multiqc/assemblyscan_plot_data" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: 'MULTIQC_THUMBS' {
        errorStrategy = { task.exitStatus in ((130..145) + 104 + (175..177)) ? 'retry' : 'finish' } // override LAST_DOTPLOT to return to default.
        ext.prefix    = { "${meta.id}.o2o_thumb" }
        ext.args      = { "--sort2=3 --strands2=1 --width=${params.multiqc_thumbs} --height=${params.multiqc_thumbs} --fontsize=1 --border-pixel=0" }
        publishDir    = [ enabled: false ]
    }

    withName: 'MULTIQC_THUMBS_HTML' {
        publishDir = [
            path: { "${params.outdir}/multiqc/alignment_thumbs" },
            mode: params.publish_dir_mode,
        ]
    }

    // FASTA_BGZIP_INDEX_DICT_SAMTOOLS subworkflow:

    withName: 'HTSLIB_BGZIPTABIX' {
        publishDir = [
            path: { "${params.outdir}/alignment" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: 'SAMTOOLS_FAIDX' {
        publishDir = [
            path: { "${params.outdir}/alignment" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename.endsWith('.sizes')) ? null : filename }
        ]
    }

    withName: 'SAMTOOLS_DICT' {
        ext.args = { "-u ./${fasta} -a ${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/alignment" },
            mode: params.publish_dir_mode,
        ]
    }

}
