/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: CUTN_TARGET {
        ext.args = { "-n 10" }
    }

    withName: CUTN_QUERY {
        ext.args = { "-n 10" }
    }

    withName: 'ALIGNMENT_LASTDB' {
        // See https://gitlab.com/mcfrith/last/-/blob/main/doc/lastdb.rst for details
        // -R01: uppercase all sequences and then lowercase simple repeats with tantan
        // -R10: keep original lowercase masking
        // -c: soft-mask lowercase letters
        // -S2: index both strands
        ext.args = { "${params.softmask=="tantan" ? '-R01' : '-R11'} -c -u${params.seed} -S2" }
    }

    withName: 'ALIGNMENT_SPLIT_O2M' {
        ext.prefix = { "${meta.id}.o2m_aln" }
        ext.args = { "--reverse -m${params.last_split_mismap}" }
    }

    withName: 'ALIGNMENT_DOTPLOT_O2M' {
        ext.prefix = { "${meta.id}.o2m_plt" }
        ext.args = { "--rot2=h --sort2=3 --strands2=1 ${params.dotplot_options}" }
    }

    withName: 'ALIGNMENT_SPLIT_M2O' {
        ext.prefix = { "${meta.id}.m2o_aln" }
        ext.args = { "-m${params.last_split_mismap}" }
    }

    withName: 'ALIGNMENT_SPLIT_O2O' {
        ext.prefix = { "${meta.id}.o2o_aln" }
        ext.args = { "--reverse -m${params.last_split_mismap}" }
    }

    withName: 'ALIGNMENT_TRAIN' {
        ext.args = { "--revsym ${params.lastal_args}" }
    }

    withName: 'ALIGNMENT_LASTAL_M2O' {
        ext.prefix = { "${meta.id}.m2o_aln" }
        ext.args = { "--split-f=MAF+ ${params.lastal_args} ${params.lastal_extr_args}" }
    }

    withName: 'ALIGNMENT_LASTAL_M2M' {
        ext.prefix = { "${meta.id}.m2m_aln" }
        ext.args = { "${params.lastal_args} ${params.lastal_extr_args}" }
    }

    withName: 'ALIGNMENT_DOTPLOT_O2O' {
        ext.prefix = { "${meta.id}.o2o_plt" }
        ext.args = { "--rot2=h --sort2=3 --strands2=1 ${params.dotplot_options}" }
    }

    withName: 'ALIGNMENT_DOTPLOT_M2O' {
        ext.prefix = { "${meta.id}.m2o_plt" }
        ext.args = { "--rot2=h --sort2=3 --strands2=1 ${params.dotplot_options}" }
    }

    withName: 'ALIGNMENT_DOTPLOT_M2M' {
        ext.prefix = { "${meta.id}.m2m_plt" }
        ext.args = { "--rot2=h --sort2=3 --strands2=1 ${params.dotplot_options}" }
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC_ASSEMBLYSCAN_PLOT_DATA' {
        publishDir = [
            path: { "${params.outdir}/multiqc/assemblyscan_plot_data" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
