/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/pairgenomealign -profile test_small,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile (small-scale)'
    config_profile_description = 'Small test dataset using fungal genomes to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '1.h'

    // Input data
    input  = params.pipelines_testdata_base_path + 'pairgenomealign/tests/testsamplesheet_small.csv'

    // Target
    target = 'https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/025/258/505/GCA_025258505.1_ASM2525850v1/GCA_025258505.1_ASM2525850v1_genomic.fna.gz'
    targetName = 'Fusarium_asiaticum_GCA_025258505.1'

    // Do a many-to-many alignment because first query is same as target.
    m2m = true

    // Genome references
    genome = 'R64-1-1'
}
