/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/pairgenomealign -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data
    input  = params.pipelines_testdata_base_path + 'pairgenomealign/tests/testsamplesheet_full.csv'

    // Target
    // Took  1h 42m 18s (285.4 CPU hours) to compute on OIST's HPC cluster.
    target = ' https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/009/914/755/GCF_009914755.1_T2T-CHM13v2.0/GCF_009914755.1_T2T-CHM13v2.0_genomic.fna.gz'
    targetName = '00_Homo_sapiens_GCF_009914755.1' // T2T-CHM13v2.0

    // Other parameters
    seed = 'RY128'
    multi_cram = true

    // Genome references
    genome = 'R64-1-1'
}
